<section  *ngIf="!people">
    <div class="d-flex justify-content-center">
        
        <md-progress-circle mode="indeterminate" class="circle-300"></md-progress-circle>
    </div>
</section>
<section class="people-view "  *ngIf="people">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-12 col-md-6 margin-top-bottom-10"  *ngFor="let person of people ">
                <div class="row">
                    <div class="expert-image col-12 col-md-4">
                         <a (click)="onSelect(person)" *ngIf="person.avatar">
                        <img class="rounded-circle" src="{{person?.avatar}}" >
                         </a>
                    </div>
                    <div class="expert-info col-12 col-md-8">
                        <h2 class="name"><a (click)="onSelect(person)" class=" primary-text-hover " >{{person?.name}}</a></h2>
                        <h3 class="title">{{person?.title}}</h3>
                        <div class="social-link">
                            <a href="{{person?.twitter}}" aria-label="Twitter" class="social-link primary-text-hover" [hidden]="!person.twitter" target="_blank" style="font-size: 22px;">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="{{person?.github}}" aria-label="Github" class="social-link primary-text-hover" [hidden]="!person.github" target="_blank" style="font-size: 22px;">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>
