// ==================================================
// Typography
// ==================================================



/* ----- PAGE HEADLINES ----- */

.page-headline{
	font-size:46px;
	padding-top:20px;
	margin:0 auto;	
	font-weight: 300;
}

.page-headline h1{
	font-weight: 300;
	text-align: center;
	color:$shuttle-gray;
}
.page-headline h1.mercury {
	font-weight: 300;
	text-align: center;
	color:$mercury;
}
.text_underline{
	display: block;
	background:$astral;
	width: 100px;
	height: 1px;
	margin: 15px auto 40px auto;
}

.text_underline_white{
	display: block;
	background:white;
	width: 100px;
	height: 1px;
	margin: 15px auto 40px auto;
}

.stat-box {
	h2 {
		color:$rose-cherry;
		
	}
	.stat-list {
		font-size:20px;
	}
}
.outline-card {
	h2 {
		color:$rose-cherry;
		
	}
	h4.list-header {
		font-weight:bold;
		color:$secondary;
		margin-left: -8px;
		font-size:20px;
	}
	.list{
		font-size:18px;
        padding: 0;
	}
	.md-slide-toggle-content {
		font-size:17px;
	}
	
}



.table-section {
	h2 {
		color:$shark;
		margin-top:35px;
		margin-bottom:5px;
		font-weight:bold;
		text-align: center;
        font-family:$stack-roboto;
	}
}

.titleList {
	font-family:$stack-roboto;
	.title-block {
		margin-bottom: 20px;
		a {
			color:$midnight-blue;
			&:hover {
				color:$orient;
			}
			h2{
				font-size: 27px;
			}
		}
		p.author {
			font-size: 17px;
		}
		p.type {
			font-size: 15px;
			font-weight:bold;
			color:$rose-cherry;
			margin-top:-8px;
		}	
	}
	

}



/* @group Blink */
.tab-section {
	margin-top:15px;
	strong{
		color:#24272D;
		font-size:18px;
	}
}
#contact {
	font-size: 18px;
}
.basic-info{
	h1 {
		font-family:$stack-roboto;
	}
	.content {
		margin-bottom:20px;
		p {font-size:17px}

	}
}
.publicationList {
	.content {
		font-size: 19px;

		p {
		font-size: 19px;
		}
		@media #{$md-device } {
				line-height: 1.7;
			}
	}
}
.peopleList {
	.content {
		font-size: 21px;
	

		p {
			a{text-decoration: underline; font-weight:bold; color:$primary} 
			font-size: 19px;
			// line-height: 2;
			// em {
			// 	font-weight:500;
			// 	color:$shark;
			// 	font-family:$stack-frank;
			// }
			@media #{$md-device } {
				line-height: 1.7;
			}
		}
	
	}
	.publication {
	
		h2 {
			font-size: 25px;
			padding-top:15px;
			font-weight: bold;
			color:$rose-cherry;
			font-family:$stack-roboto;
		}
		li>span {
			font-size: 19px;
			@media #{$md-device } {
				font-size: 20px;
			}
		}
	}
}

.viewHeader {
	font-size: 20px;
	h2 {
		font-size: 35px;
		padding-top:15px;
		font-weight: 300;
	}
}
.viewDetails {
	.content {
	
		p {
			font-size: 19px;
		}
		font-size: 19px;
	}
}
.sourceRecord {
	font-family:$stack-roboto;
	header {
		font-weight:bold;
	}
	strong.strong {
		color:$bright-gray;
		font-style:italic;
	}
}
.pubHeader {
	font-size: 20px;
	h2.main-header {
		font-size: 30px;
		padding-top:15px;
		font-weight: 300;
	}
	

}


.blink {
    animation-duration: 1200ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation:blink 1200ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        color:#fff;
    }
    to {
        color:#002A5C;
    }
}
@-webkit-keyframes blink {
    from {
        color:#002A5C;
    }
    to {
        color:#fff;
    }
}
/* @end */

.text-block{

		&:first-line{
			font-weight: bold;
			font-size: 1.2em;
		}
		&:first-letter  {
			float: left;
			font-size: 110px;
			color: $primary;
			padding: 0px 5px 0 0;
			background: transparent;
			margin: 0px 10px 0 0;
			line-height: .9;
		}
		a{
			color:$primary;
			font-weight:bold;
			text-decoration: underline;
	
		}

}

.pub-main-content {
	p {font-size:21px; font-family:$stack-frank;}
	margin:2%;
}