<ol class="breadcrumb">
  <li class="breadcrumb-item "><a [routerLink]="['/']">Home</a></li>
  <li class="breadcrumb-item "><a [routerLink]="['/operations']">Operations</a></li>
  <li class="breadcrumb-item active">Methodology</li>
</ol>

<section class="light-bg" style="margin-top:-1rem;">
  <div class="container">
    <div class="page-headline">
      <h1>Methodology</h1>
      <span class="text_underline"></span>
    </div>

    <!-- CASE STUDY -->	
    <div class="row ">
      <div class="col-md-6">
        <md-card class="outline-card"  id="sm-size">
            
            <md-card-content>
              <ul class="list">
                <li><strong class="active-text">Title:</strong> Cross-border Counterterror Operations Database Methodology: Inclusion Criteria and Variables</li>
                <li><strong class="active-text">Last Update:</strong> February 3, 2017</li>					  			  					  			  
              </ul>
            </md-card-content>
             <md-card-actions >
                <a href="/assets/docs/public/methodology/CCOD-Methodology.pdf" class="btn btn-transparent" download="CCOD-Methodology">Download Methodology</a>	
                <span class="fill-remaining-space"></span>
            </md-card-actions>
        </md-card>

      </div>
      <div class="col-md-6">

        
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item " src="/assets/docs/public/methodology/CCOD-Methodology.pdf" allowfullscreen type="application/pdf"></iframe>
        </div>


      </div>
      
      
      
    </div>						

  </div>
</section>