<md-progress-bar mode="indeterminate" class="hidden-sm-down full-width" *ngIf="libOn" style="margin:0" color="accent"></md-progress-bar>
<md-progress-bar mode="indeterminate" class="hidden-sm-down full-width" *ngIf="adminOn" style="margin:0" color="warn"></md-progress-bar>
<header id="main-nav">
  <ul class="nav justify-content-end no-gutters navtop">
   
    <li class="nav-item " *ngIf="authService.authenticated()">
      <a class="nav-link" (click)="authService.logout()">Log Out</a>
    </li>
    <li class="nav-item " *ngIf="authService.authenticated()">
      <a class="nav-link alert-hover" routerLink="/admin" routerLinkActive="active-1" (click)="loadAdmin()">Enter Administration</a>
    </li>
    <li class="nav-item " *ngIf="!authService.authenticated()">
      <a class="nav-link"   (click)="authService.login()">Log In</a>
    </li>
  </ul>
  <nav class="navbar navbar-toggleable-md navbar-main">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><img  src="/assets/images/icons/ic_menu_white_48px.svg" ></span>
    </button>
    <a class="navbar-brand" routerLink="/" ><img src="/assets/images/logo/White_Text.svg" class="logo"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link"  routerLink="/" routerLinkActive="active-1" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="nav-item nav-link" routerLink="/operations" routerLinkActive="active-1">Database</a>
        <a class="nav-item nav-link" routerLink="/library" routerLinkActive="active-1" (click)="loadLib()">Library</a>
        <a class="nav-item nav-link" routerLink="/blog" routerLinkActive="active-1">News & Updates</a>
        <a class="nav-item nav-link " routerLink="/about" routerLinkActive="active-1">About</a>
      </div>
    </div>
  </nav>
</header>