<div [formGroup]="sourceForm" >
  <md-card formArrayName="sources">
   
      <table class="full-width" cellspacing="0"  >
        
        <tr  *ngFor="let source of sourceForm.controls.sources.controls; let sourceFormIndex = index">
          <td>
            <md-input-container class="full-width">
											
				      <md-hint align="end">Sources</md-hint>
						<input    md-input 
									placeholder="Example: Pakistani Security Officials"
									type="text" 
								
									formControlName="{{sourceFormIndex}}" >
            </md-input-container>
          </td>
          
          <td>
            <span class="d-flex flex-row flex-wrap">
              <span class="fill-remaining-space"></span>
              <button type="button"  title="Remove Press Type" class="btn alert-hover "  md-mini-fab (click)="removeSourceType(sourceFormIndex)" ><img class="icon-30" src="/assets/images/icons/ic_close_white_36px.svg"></button>
            </span>
          </td>
        </tr>
      
        
      </table>
      <button type="button"   class="btn success-hover "  (click)="addSourceType()" >Add Source Type</button>
    
  </md-card>
</div>

