<div class="content">
       
    <section class="content-header">
        <h1 class="float-left">Tutorials
            <small>3 Documents available</small>
        </h1>
        <div class="float-right">
            <ol class="breadcrumb">
                <li  class="breadcrumb-item"><a routerLink="/admin" routerLinkActive="active-1" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                <li  class="breadcrumb-item"><a routerLink="/tutorial" routerLinkActive="active-1" [routerLinkActiveOptions]="{exact:true}">Tutorials</a></li>
                <li class="breadcrumb-item active">Tutorials</li>
            </ol>
        </div>
    </section>
    <section class="main-content">
        <div class="row">
    
            <div class="col-md-4 margin-top-bottom-10">
                <md-card class="outline-card ">
                    <md-card-title>
                        How to Add/Edit Operations
                    </md-card-title>
                    <md-card-content>
                    </md-card-content>
                    
                    <md-card-actions>
                        <button  href="/assets/docs/private/tutorials/operations-how-to.pdf" class="btn btn-block primary-hover" download="Operations-How-To" disabled>Download</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-md-4 margin-top-bottom-10">
                <md-card class="outline-card ">
                    <md-card-title>
                        How to Add/Edit Blog posts
                    </md-card-title>
                    <md-card-content>
                    </md-card-content>
                    
                    <md-card-actions>
                        <button  href="/assets/docs/private/tutorials/blogs-how-to.pdf" class="btn btn-block primary-hover" download="Blogs-How-To" disabled>Download</button>
                    </md-card-actions>
                </md-card>
            </div>
          
          
           
            
            <div class="col-md-4 margin-top-bottom-10">
                <md-card class="outline-card ">
                    <md-card-title>
                        How to Add/Edit Publications
                    </md-card-title>
                    <md-card-content>
                    </md-card-content>
                    <md-card-actions>
                        <a href="/assets/docs/private/tutorials/library-how-to.pdf" class="btn btn-block primary-hover" download="Library-How-To">Download</a>	
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </section>
</div>