<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6  col-lg-4 footer-info">
				<h3>Center for the Study of Targeted Killing</h3>
				<p>University of Massachusetts Dartmouth<br>285 Old Westport Road | Dartmouth, MA</p>
				<p>© 2012-2017. All rights reserved.</p>
			</div>
			<div class="col-lg-4 hidden-md-down d-flex justify-content-center">
				<a [routerLink]="['/']"><img src="/assets/images/logo/logo.svg" class="footer-logo"></a>
			</div>
			<div class="col-md-6 col-lg-4 d-flex justify-content-center list-info">
				<div class="row" >
					<div class="col-xs-6 ">
						<ul >
							<li><a [routerLink]="['/about/contact']">Contact</a></li>
							<li><a [routerLink]="['/about']">About</a></li>
							<li><a  [routerLink]="['/about/people']">People</a></li>
						</ul>
					</div>
					<div class="col-xs-6">
						<ul >
							<li><a [routerLink]="['/operations']">Operations</a></li>
							<li><a [routerLink]="['/library/publications']">Library</a></li>
							<li><a [routerLink]="['/blog']">News</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<section class="d-flex justify-content-center copyright">
	<a href="http://www.umassd.edu/" target="_blank"><img class="parent-logo" src="/assets/images/logo/umassd_logo.png"></a>
</section>